<div class="rh-bg">
  <div class="container mb-4">
    <div class="row">
      <div class="col-lg-4 ">
        <div class="sticky-top">
          <div class="row mt-3 ">
            <div class="col-lg-12">
              <div class="card rh-card">
                <div class="card-body">
                  <h5> Personal Information</h5>
                  <hr class="m-0 mb-3">
                  <div class="row">
                    <div class="col-lg-3">
                      <img [src]="profile?.avatar" class="rh-profile-img" alt="...">
                    </div>
                    <div class="col-lg-9 my-auto rh-profile-info">
                      <h5 >{{profile?.name}}</h5>
                      <p class="m-0">{{profile?.location}} </p>
                      <ng-container *ngFor="let social of profile?.socials">
                        <a  [href]="social?.link" ><span class="mr-2"><i [ngClass]="social?.icon" aria-hidden="true"></i></span>{{social?.name}}</a><br>
                      </ng-container>
                      <button class="btn btn-primary mt-1" (click)="downloadResume()">Resume<span class="ml-2"><i class="fas fa-cloud-download-alt"></i></span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3 ">
            <div class="col-lg-12">
              <div class="card rh-card">
                <div class="card-body">
                  <h5>About Me</h5>
                  <hr class="m-0 mb-3">
                  <div class="row">
                    <div class="col-lg-12">
                      <p style="white-space: pre-wrap;" class="card-text" [innerHTML]="profile?.about"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="row mt-3">
          <div class="col-lg-12">
            <div class="card rh-card">
              <div class="card-body">
                <h5>Education</h5>
                <hr class="m-0 mb-3">
                <div class="row">
                  <div class="col-lg-12">
                    <ng-container *ngFor="let school of profile?.education">
                      <h5>{{school?.title}}</h5>
                      <p><small>{{school?.meta}}</small></p>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-12">
            <div class="card rh-card">
              <div class="card-body">
                <h5> My Top Skills</h5>
                <hr class="m-0 mb-3">
                <div class="row">
                  <div class="col-lg-12">
                    <a  class="mr-1 rh-skill" *ngFor="let skill of skills?.top_skills" >{{skill}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-lg-12">
            <div class="card rh-card">
              <div class="card-body">
                <h5> Work History</h5>
                <hr class="m-0 mb-3">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-2" *ngFor="let work of workExperience?.work">
                      <p><small>{{work?.date}}</small></p>
                      <h5>{{work?.title}}</h5>
                      <p style="white-space: pre-wrap;" class="card-text" [innerHTML]="work?.description"></p>
                      <a  class="mr-1 rh-skill" *ngFor="let skill of work?.stack" >{{skill}}</a>
                      <hr class="m-0 mt-3">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-12">
            <div class="card rh-card">
              <div class="card-body">
                <h5> Featured Projects | Work</h5>
                <hr class="m-0 mb-3">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card mb-3" *ngFor="let project of featuredProjects?.projects">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                        <div
                          [ngClass]="{'rh-preview-image': !showMobileImages, 'rh-preview-image-mobile': showMobileImages}"
                          [ngStyle]="{
                            'background-image': 'url(' + project?.preview + ')'
                          }">
                        </div>
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{project?.name}}</h5>
                            <p style="white-space: pre-wrap;" class="card-text" [innerHTML]="project?.description | linkify"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
